:root {
  --primary-color: #daa492;
  --secondary-color: #537383;
  --tertiary-color: #686763;
}

h1 h2 h3 {
  font-family: "Playfair Display", serif;
  color: #686763;
}
h2 {
  font-size: 64px;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: var(--tertiary-color);
  line-height: 30px;
}

.hero {
  text-align: center;
  background: var(--primary-color);
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: var(--tertiary-color);
}

.hero h1 {
  font-size: 96px;
  color: var(--tertiary-color);
  font-family: "Playfair Display", serif;
}

.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.5;
  color: var(--tertiary-color);
}

.btn-branding {
  background: var(--secondary-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  border-radius: 4px;
}

.btn-branding-outline {
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  background: var(--primary-color);
  color: var(--tertiary-color);
  border-radius: 4px;
}

.project-description {
  padding: 120px 60px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 50px;
    line-height: 2;
  }
  h2 {
    font-size: 42px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 80px 20px;
  }
}
