:root {
  --primary-color: #daa492;
  --secondary-color: #537383;
  --tertiary-color: #686763;
}

h1 h2 h3 {
  font-family: "Playfair Display", serif;
  color: #686763;
}
h2 {
  font-size: 64px;
}
h4 {
  font-size: 48px;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: var(--tertiary-color);
  line-height: 30px;
}

a {
  text-decoration: none;
}
nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
  font-family: "Poppins", sans-serif;
}
nav a {
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}
nav a:hover {
  color: var(--tertiary-color);
}
nav li.active a {
  color: var(--primary-color);

}
footer {
  margin: 60px 0;
}
footer .social-links a {
  margin: 0 20px;
  color: var(--secondary-color);
  padding: 10px;
  font-size: 30px;
  transition: all 150ms ease-in-out;

}
footer .social-links a:hover {
  color: var(--primary-color);

}
footer .contact-box {
  background-color: var(--primary-color);
  padding: 30px 120px;
  
}

.hero {
  text-align: center;
  background: var(--primary-color);
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: var(--tertiary-color);
}

.hero h1 {
  font-size: 96px;
  color: var(--tertiary-color);
  font-family: "Playfair Display", serif;
}

.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.5;
  color: var(--tertiary-color);
}

.btn-branding {
  background: var(--secondary-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  border-radius: 4px;
}

.btn-branding-outline {
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  background: var(--primary-color);
  color: var(--tertiary-color);
  border-radius: 4px;
}

.project-description {
  padding: 120px 60px;
}

.container h2 {
  font-family: "Playfair Display", serif;
}
.container p {
  font-family: "Poppins", sans-serif;
}
.content-container {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Poppins", sans-serif;
}
.content-container h1 {
  font-size: 64px;
  line-height: 80px;
  text-align: center;
  color: var(--secondary-color);
}
.content-container h2 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: var(--tertiary-color);
}

.content {
  padding: 160px 20px;
  margin: 30px;
}
.content h3 {
  font-size: 24px;
  line-height: 1;
  margin: 20px 0 0;
  font-family: "Poppins", sans-serif;
}
.content p {
  font-size: 14px;
  margin: 0;
}
.logo {
  max-width: 100px;
}

@media (max-width: 900px) {
  .hero h1 {
    font-size: 50px;
    line-height: 2;
  }
  h2 {
    font-size: 42px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 80px 20px;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .logo {
    display: none;
  }
}
